.Card-contain {
  display: grid;
  grid-template-columns: 420px 420px 420px;
  grid-auto-rows: minmax(150px, auto);
  border-radius: 12px;
}

.buttuh {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  left: 40%;
}
