.games-card.elder {
  position: absolute;
  top: 30%;
  left: 40%;
}
.prev-button {
  position: relative;
  right: 40px;
  top: 75px;
  cursor: pointer;
}
.next-button {
  position: relative;
  left: 30px;
  top: 70px;
  cursor: pointer;
}
.aaa-aaa {
  display: flex;
  border-radius: 13px;
  height: 200px;
  width: 350px;
}
.aaa-aaa:hover {
  transform: scale(1.03);
  transition: 0.4s;
  opacity: 0.9;
}
.sliderc {
  display: flex;
  flex-direction: row;
  gap: 15px;
  position: relative;
}
